streamlit==1.38.0
pysqlite3-binary==0.5.3.post1
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
gliner==0.2.11
gliner-spacy==0.0.10
sentence-transformers==3.0.1
requests==2.32.3
pydub==0.25.1
python-dotenv==1.0.1
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
openai==1.43.1
replicate==0.32.1
elasticsearch==8.15.1
pandas==2.2.3
scikit-learn==1.5.2
torch==2.4.1
faster-whisper==1.0.3
tqdm==4.66.5
transformers==4.44.2
chromadb==0.5.11
feedparser==6.0.11
beautifulsoup4==4.12.3
protobuf<=3.20.3
accelerate==0.34.2